.cards {
}

.card__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
}

.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  background-color: #fff;
  border-radius: 0 0 10px 10px;

  display: grid;
  grid-template-columns: minmax(auto, 282px);
  align-items: center;
  margin: 0;
  grid-template-areas: "title button";
}

.card__title {
  color: #000;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  margin: 25px 0 25px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: title;
}

.card__heart-button {
  background: transparent url(/images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  padding: 0;
  margin: 31px 20px 30px 0;
  display: grid;
  grid-area: button;
}

@media screen and (max-width: 320px) {
  .cards {
    background-color: pink;
  }
  .card__list {
    padding: 0;
    margin: 36px 19px 98px 19px;
    display: flex;
    flex-direction: column;
  }
}
