.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba 0, 0, 0, 0.5;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 19px;
}

.modal__opened {
  display: flex;
}

.modal__container {
  display: grid;
  justify-content: center;
  padding: 36px 36px 0px 36px;
  border-radius: 10px;
  position: fixed;
  height: 330px;
  width: 394px;
  background-color: #fff;
}

.modal__heading {
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: 900;
  color: black;
  width: 330px;
  height: 23px;
}

.modal__close {
  background-image: url(../images/close-button.svg);
  position: absolute;
  cursor: pointer;
  top: -45px;
  right: -45px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 24px;
  width: 358px;
}

.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
}

.modal__button {
  margin-top: 18px;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-family: "Inter", "Arial", "sans-serif";
}

@media screen and (max-width: 580px) {
  .modal__container {
    height: 322px;
    width: 282px;
    padding: 25px 22px 0px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    width: 238;
    top: -73px;
  }
  .modal__heading {
    font-size: 18px;
    width: 238px;
    height: 22px;
  }

  .modal__form {
    width: 238px;
  }

  .modal__button {
    width: 238px;
  }
}
