.page {
  background-color: black;
  color: white;
}

.page__content {
  margin: 0px 200px 0 200px;
}

.header {
  max-width: 880px;
  max-height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
}

.content {
}

.profile {
  display: flex;
}

.profile__img {
  width: 120px;
  height: 120px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px), auto;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}
